*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: 400;
}

body {
    background-color: #000000;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    display: block;
}


hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,rgba(136,136,136,0),rgba(255,255,255,.75),rgba(138,136,136,0));
    margin-top: 42px;
}

nav {
    background: #1e1e1e;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul a {
    height: 65px;
    line-height: 65px;
    padding: 30px 0;
    margin: 0 25px;
    color: #a1a1a1;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}


nav ul li {
    display: inline-block;
}

nav ul a.active {
    box-shadow: 0 3px 3px -3px #fff;
    border-bottom: 3px solid white;
    color: #fff;
}

#app {
    max-width: 100%;
    padding: 2rem;
    font-weight: 400;
}


.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 80%;
    position: relative;
}


.post {
    width: 100%;
    background-color: #0f0f0f;
    margin: 0 auto;
    min-height: 100px;
    border-radius: 3px;
    padding: 12px 18px;
    clip-path: polygon(3% 0%,100% 0,100% 73%,97% 100%,0 97%,0 22%);
}

.post:hover {
    background-color: #3f3f3f ;
}

.post_top {
    margin: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post_top-left {
    display: flex;
    align-items: center;
}

.post_top-right {
    /*  */
}

.post_profile-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.post_content {
    padding: 14px 8px;
}

.post_profile-name {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 6px;
    cursor: pointer;
}

.p {
    font-size: 14px;
    color: #797979;
}

.state:hover{
    border:solid 1px white
}

.bubble_button {
    background-color: red;
    border: none;
    color: #fff;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    margin: 4px 12px 4px 2px;
    border-radius: 25px;
}

.balance_button {
    background: transparent;
    border: 1px solid #232323;
}

.balance_button:hover {
    background: #f2f2f2;
    color: #a1a1a1;
    border: 1px solid #232323;
}


.post_date-posted {
    font-size: 16px;
    color: #797979;
}

.next_button {
    margin-left: 48px;
    padding: 13px;
    background: #242424;
    border-radius: 50%;
    place-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
}




